// Media queries for when the screen size is 1432px or less
@media screen and (max-width: 1432px) {

    header{
        padding: 0 !important;
    }

    .section{
        padding: 7rem 11rem;
    }

    .about-container{

        .left-about{
            h3{
                font-size: 1.6rem;
            }
        }

        .right-about{
            .about-item{
                .about-text{
                    .large-text{
                        font-size: 2rem;
                    }

                    .small-text{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }


    h4{
        font-size: 1.8rem;
    }

    p{
        font-size: 1.2rem;
    }

    .timeline{

        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 6rem;

        .timeline-item{
            h5{
                font-size: 1.3rem;

                span{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .main-title{
        h2{
            font-size: 3.5rem;
            span{
                font-size: 3.5rem;
            }
            .big-text{
                font-size: 6rem;
            }
        }
    }

    // put input form underneath the information section from 'left-contact'
    .contact-content-container{
        flex-direction: column;

        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
}

// Media queries for when the screen size is 1070px or less
@media screen and (max-width: 1070px) {

    .right-header{

        padding-right: 10rem !important;
        .name{
            font-size: 1.5rem !important;
        }

        p{
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
    .about-container{
        grid-template-columns: 1fr;
        
        .right-about{
            padding-top: 2.5rem;
        }
    }

    .portfolios{
        grid-template-columns: 1fr 1fr;
    }

    .portfolio-text{
        padding-top: 5rem;
    }

    .main-title{
        h2{
            font-size: 2.5rem;
            span{
                font-size: 3rem;
            }
            .big-text{
                font-size: 4.5rem;
            }
        }
    }
}

// Media queries for when the screen size is 1070px or less
@media screen and (max-width: 970px) {

    header{
        padding: 0;
    }

    header .right-header{
        padding: 0 !important;
    }

    //Reduce the size of the theme button
    .theme-button{
        width: 55px;
        height: 55px;
        top: 1.5%;
    }

    // switch from 2 columns per row to one
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    // remove the header shape behind the image
    .left-header{
        .header-shape{
            display: none;
        }
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;

        .name{
            font-size: 2.5rem !important;
        }
    }

    //width of the header contents take up 90%
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    .section{
        padding: 7rem 6rem;
    }

    .main-title{
        h2{
            font-size: 2.8rem;
            span{
                font-size: 2.8rem;
            }
            .big-text{
                font-size: 3.8rem;
            }
        }
    }
}

// Media queries for when the screen size is 600px or less
@media screen and (max-width: 600px) {

    .right-header{
        .name{
            padding-top: 2rem;
            font-size: 1.7rem !important;
        }

        p{
            font-size: 1.1rem;
        }
    }
    
    .about-container{
        grid-template-columns: 1fr;

        // switch from 2 columns per row to one
        .right-about{
            padding-top: 3rem;
            grid-template-columns: 1fr;

            .about-item{
                .about-text{
                    .large-text{
                        font-size: 1.5rem;
                    }

                    .small-text{
                        font-size: 1rem;
                    }
                }
            }
        }

        .left-about{
            padding-right: 0;

            h3{
                font-size: 1.2rem;
            }

            p{
                padding-left: 0;
            }
        }
    }

    h4{
        font-size: 1.2rem;
    }

    p{
        font-size: 0.9rem;
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 6rem;

        .timeline-item{
            h5{
                font-size: 1rem;

                span{
                    font-size: 0.9rem;
                }
            }
        }
    }

    // switch from 2 columns per row to one
    .about-statistics{

        h4{
            font-size: 1.2rem;
        }

        .progress-bars{
            grid-template-columns: 1fr;
        }
    }

    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .section{
        padding: 2rem 2.5rem;
    }  

    // Reduce font size of titles for each section
    .main-title{   
        padding-top: 2rem;
        height: 100%;
        width: 100%;
        h2{
            font-size: 2.8rem;

            span{
                font-size: 3.3rem;
            }

            .big-text{
                font-size: 3.8rem;
            }
        }
    }

    .contact-content-container{
        padding-bottom: 7rem;

        .left-contact{
            h3{
                font-size: 1.2rem;
            }
        }
    }

    // Style control buttons to the bottom of the screen
    // floating island
    .controls{
        top: 88%;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        background-color: var(--color-grey-5);
        border-radius: 55px;
        height: 10%;

        .control{
            margin: 1rem 0.3rem;
        }
    }
}

// Media queries for when the screen size is 1070px or less
@media screen and (max-width: 500px) {

    .right-header{
        .name{
            padding-top: 3rem;
            font-size: 1.5rem !important;
        }

        p{
            font-size: 0.8rem;
        }
    }
    
    .section{
        padding: 2rem;
    }

    .portfolios{
        grid-template-columns: 1fr;
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .big-text{
                font-size: 3rem;
            }
        }
    }

    .about-container{

        .left-about{
            h3{
                font-size: 1.2rem;
            }
        }

        .right-about{
            .about-item{
                .about-text{
                    .large-text{
                        font-size: 1.5rem;
                    }

                    .small-text{
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    h4{
        font-size: 1.2rem;
    }

    p{
        font-size: 0.8rem;
    }

    .timeline{

        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 6rem;

        .timeline-item{
            h5{
                font-size: 0.9rem;

                span{
                    font-size: 0.8rem;
                }
            }
        }
    }

    .portfolio-text{
        padding-top: 5rem;
    }
    
    .contact-content-container{
        padding-bottom: 7rem;

        .left-contact{
            h3{
                font-size: 1.2rem;
            }

            .contact-info{

                width: 109%;
                position: relative;
                left: -4%;

                .contact-item{

                    .icon{
                        i{
                            font-size: 1rem !important;
                        }
                    }
                    .icon, p{
                        font-size: 0.8rem;
                    }
                }
            }

            .contact-icon{
                margin-top: 0.5rem !important;
                a{
                    width: 40px;
                    height: 40px;

                    i{
                        font-size: 1rem;
                    }
                }

            }
        }

        .right-contact{
            h4{
                margin-top: 0rem !important;
            }

            .input-control{
                margin: 0.8rem 0;

                .smallText{
                    font-size: 0.8rem;
                    margin-left: 0.7rem;
                }
                
                input, textarea{
                    font-size: 0.8rem;
                }
            }
        }
    }

    .controls{
        top: 88%;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 73%;
        background-color: var(--color-grey-5);
        border-radius: 55px;
        height: 11%;

        .control{
            margin: 1rem 0.3rem;
        }
    }
}